<!DOCTYPE html>
<html>
<head>
  <title>Base</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav id="logo" class="navbar navbar-light bg-light">
  <%= active_link_to 'Base', root_path, class: 'navbar-brand', active: :exclusive %>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: flash_class(key)) %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
